<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project">

        <!-- ✅ WELCOME SCREEN (Launcher Activity) -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- LOGIN -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"/>

        <!-- SIGNUP -->
        <activity android:name=".SignUpActivity"/>

        <!-- HOME -->
        <activity android:name=".HomeActivity"/>

        <!-- Workouts -->
        <activity android:name=".FullBodyActivity"/>
        <activity
            android:name=".ExerciseActivity"
            android:theme="@style/Theme.Project.Exercise" />
        <activity android:name=".TransitionActivity"/>
        <activity android:name=".CompletionActivity"/>
        <activity android:name=".BMICalculatorActivity"/>
        <activity android:name=".ArmsActivity"/>
        <activity android:name=".BackActivity"/>
        <activity android:name=".ChestActivity"/>
        <activity android:name=".CoreActivity"/>
        <activity android:name=".LegsActivity"/>
        <activity android:name=".ShouldersActivity"/>

        <!-- Profile + Plans -->
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".EditProfileActivity"/>
        <activity android:name=".DietPlanActivity"/>
        <activity android:name=".CustomizePlanActivity"/>
        <activity android:name=".WeeklyPlanActivity"/>
        <activity android:name=".AboutUsActivity"/>

    </application>
</manifest>
